<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Punch Bag - Vue</title>
</head>

<body>

    <div id="vue-app">

        <div id="game_container">
            <div id="img_container">
                <template v-if="gameOver">
                    <img src="bag-burst.png" alt="">
                </template>
                <template v-else="gameOver">
                    <img src="bag.png" alt="">
                </template>
            </div>
            <template v-if="!gameOver">
                <div id="health">
                    <div v-bind:style="{width: health + '%'}" id="life"></div>
                </div>
            </template>
            <div id="controls">
                <template v-if="!gameOver">
                    <button v-on:click="punch()">Punch</button>
                </template>
                <button v-on:click="restart()">Restart</button>
            </div>
        </div>

    </div>



    <script src="app.js"></script>
</body>

</html>